#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color:#134226;
    text-decoration: none;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
    background-color: #78C5D7;
    color: #FCE172;
}

body {
    background-color: #FCE172;
    color:#134226;
}

header {
    background-color: #78C5D7;
    color:#FCE172;
}

nav a:hover {
    background-color: #134226;
    color:white;
}

.book {
    background-color: #FCE172;
    color:#134226;
    text-decoration: none;
}

.join {
    background-color: #FCE172;
    color:#134226;
    text-decoration: none;
}

.book:hover {
    background-color: #134226;
    color:white;
}

.join:hover {
    background-color: #134226;
    color:white;
}

.msg {
    background-color: #FCE172;
}

.msg h2 {
    color:#134226;
}

.msg p {
    color: #134226;
}

footer {
    background-color: #FCE172;
}

footer h3 {
    color:#134226;
}

footer a {
    color:#134226;
    text-decoration: none;
}

footer a:hover {
    color:#78C5D7;
}

.home-title {
    color:#134226;
}

h4 {
    color:#134226;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer h3 a:hover {
    text-decoration: underline;
}