@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'ubuntu';
}

nav a {
    text-align: center;
    color: #134226;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
    color: #78C5D7;
}

.button-box {
    text-align: center;
}

main section{
    text-align: center;
}

body {
    background-color: #FCE172;
    color: #134226;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #78C5D7;
    color:#FCE172;
}

nav a:hover {
    background-color: #134226;
    color:white;
}

footer {
    background-color: #78C5D7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 50px;
}

footer h3 {
    color:#134226;
}

footer a {
    color:#134226;
    text-decoration: none;
}

footer a:hover {
    color:white;
}

h4 {
    color:#134226;
}

.logo {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer h3 a:hover {
    text-decoration: underline;
}

h2.part2 {
    margin-bottom: 15px;
}

h2 {
    margin: 0px;
}

p {
    margin:15px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
    margin-bottom: 50px;
}

.Idaho, .Utah, .Arizona {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #134226;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

main section img {
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

.card-img, .mountains {
    width: 100%;
}

main.home-grid {
    display: grid;
    grid-template-columns: 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr;
}

.card-img, .Idaho {
    width: 100%;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.Idaho {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}

.Utah{
    grid-column: 5/7;
    grid-row: 2/3;
}


.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.Arizona{
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .Utah, .Idaho, .Arizona{ 
        margin: 50px auto;
        width: 60%;
    }
    p {
        margin: 0px;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
