* {
    background-color: lightpink;
}

p.title {
    color: white;
    font-size: 1.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;
}

h5{
    color: white;
    font-size: 0.5em;
    text-align: center;
}

.list{
    list-style-position: inside;
    margin-left: 500px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image{
    width: 10%;
    margin-left: 38%;
}

li {
    padding: 5px;
}