#main {
    width: 80% auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

#person {
    width: 30%;
    margin: 5px;
}

#desk {
    width: 30%;
    margin: 5px;
}

#graphic {
    width: 30%;
    margin: 5px;
}