/* header styles */
nav {
    background-color: steelblue;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 40px;
    text-decoration: none;
}

/* main styles*/
h1 {
    color: steelblue;
    text-align: center;
}

img {
    /*border: 4px solid steelblue;*/
    width: 80%;
    display: block;
    margin: 0 auto;
}

p {
    padding: 10px;
    width: 80%;
    text-align: center;
    margin: 50px auto;
}

.main-para {
    font-size: 1.5em;
}

#active {
    background-color: white;
    color: steelblue;
}