@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');
body {
    font-family: Roboto, serif;
    margin:0;
}

/* header styles */
nav, footer {
    background-color: steelblue;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 40px;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
}

a:hover {
    background-color: white;
    color: steelblue;
}

/* main styles*/
h1 {
    color: steelblue;
    text-align: center;
    font-family: 'Rock Salt', 'Bradley Hand' cursive;
    margin: 50px 0;
}

img {
    border: 4px solid steelblue;
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 15px 15px 10px #ccc;
}

p {
    padding: 10px;
    width: 80%;
    text-align: center;
    margin: 50px auto;
}

.main-para {
    font-size: 1.5em;
}

#active {
    background-color: white;
    color: steelblue;
}

footer p {
    font-size: 20px;
    margin: 20px auto;
}