@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');
body {
    font-family: Roboto, serif;
    margin:0;
    background-color: lavender;
}

/* header styles */
nav {
    background-color: indigo;
    padding: 0px;
    text-align: center;
    width: 100%;
    height: 30px;
    margin-top: -10px;
}

nav a{
    color: lavender;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    width: 50px;
    height: 50px;
}

nav :hover {
    background-color: lavender;
    color: indigo;
}

/* main styles*/
h1 {
    color: indigo;
    background-color: lavender;
    text-align: center;
    font-family: 'Rock Salt', 'Bradley Hand' cursive;
    margin: 50px 0;
}

img {
    border: 4px solid indigo ;
    width: 600px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 15px 15px 10px gray;
}

p {
    padding: 10px;
    width: 80%;
    text-align: center;
    margin: 50px auto;
}

.main-para {
    font-size: 1.5em;
}

#active {
    background-color: lavender;
    color: indigo;
}

footer p {
    font-size: 20px;
    margin: 20px auto;
}

main {
    background-color: indigo;
    display: grid;
    margin-top: 50px;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    text-align: center;
}

main a{
    color: lavender;
    background-color: indigo;
    margin: 10px;
    text-decoration: none;
    font-size: 1.5em;
}

main :hover {
background-color: lavender;
    color: indigo;
}